/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    word-wrap: break-word;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* custom */
a {
    color: #7e8c8d;
    text-decoration: none;
    -webkit-backface-visibility: hidden;
}

a:hover {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    border: none
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    -webkit-border-radius: 6px;
}

html, body {
    width: 100%;
    font-size: 62.5%;
    background-color: #fff;
    font-family: 'Microsoft YaHei', Verdana, 'sans-serif';
    line-height: 1.5;
    color: #333;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
}

/* 如下是一些公共样式 */
.main {
    max-width: 1080px;
    min-width: 320px;
    margin: 0 auto;
    overflow: hidden;
}

/*回到顶部*/
.backtop {
    border-radius: 5px;
    z-index: 9999;
    width: 5rem;
    height: 5rem;
    font-size: 1.3rem;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 1rem;
    right: 1rem;
    color: #fff;
    padding: 1rem;
    text-align: center;
    line-height: 1.5rem;
    display: none;
}

/*点击态度效果*/
.normalClick {
    background-color: #f3f3f3;
}

h1 {
    font-size: 2.0rem;
    font-weight: normal;
}

h2, h3, h4, h5, h6, a {
    font-size: 1.6rem;
    font-weight: normal;
}

p {
    font-size: 1.3rem;
    font-weight: normal;
}

.rowicons:after {
    content: "";
    border-top: 1px solid #f3f3f3;
    display: block;
}

.rowicons li {
    width: 25%;
    float: left;
    text-align: center;
    border-radius: 5px;
}

.rowicons li img {
    max-width: 6.0rem;
    margin-top: 0.4rem;
}

.rowicons li h3 {
    font-size: 1.5rem;
    color: #777;
    margin-bottom: 0.3rem;
}

.rowicons p {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 50%;
}

/*清除浮动*/
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

* html .clearfix {
    height: 1%;
}

.icons {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    float: left;
    margin-top: 1.5rem;
}

.sbtn1, .sbtn2 {
    margin: 1rem 1rem;
    display: block;
    line-height: 4rem;
    border: 1px solid;
    text-align: center;
    border-radius: 2rem;
    font-size: 1.6rem;
}

.sbtn1 {
    border-color: #04be02;
    color: #04be02;
}

.sbtn1.normalClick {
    background-color: #f2fdfe;
}

.sbtn1.disable {
    border-color: #999;
    color: #999;
}

.sbtn2.normalClick {
    background-color: #02b1c0;
}

.sbtn2 {
    background-color: #04be02;
    color: #fff;
}

.lf {
    float: left;
}

.lr {
    float: right;
}

.invisible {
    display: none;
}

.boy .top_bg {
    height: 14rem;
    background: url(../../../../images/blue_bg_top.png) center center;
    background-size: 100%;
}
.girl .top_bg {
    height: 14rem;
    background: url(../../../../images/pink_bg_top.png) center center;
    background-size: 100%;
}

.cfy_hbox {
    text-align: center;
    padding-top: 2.5rem;
}

.cfy_hbox .title_icon {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 2px solid #fff;
    margin: 0 auto;
}

.cfy_hbox p {
    color: #fff;
    font-size: 1.6rem;
    margin-top: 0.6rem;
}

.cfy_control {
    height: 6rem;
    border-bottom: 1px solid #eee;
    padding: 0 1.5rem 0 1rem;
}

.cfy_control .pb {
    line-height: 3rem;
    border: none;
    width: auto;
    padding: 0 0.5rem;
    border-radius: 2px;
}

.boy .cfy_control .pb.sel {
    color: #a1d5a7;
}
.girl .cfy_control .pb.sel {
    color: #e6aedb;
}

.boy .cfy_control .pb.sel:after {
    content: "";
    display: block;
    border-bottom: 1px solid #a1d5a7;
    color: #a1d5a7;
}
.girl .cfy_control .pb.sel:after {
    content: "";
    display: block;
    border-bottom: 1px solid #e6aedb;
    color: #e6aedb;
}

.cfy_control a {
    line-height: 3rem;
    display: inline-block;
    border: 1px solid #ccc;
    margin-top: 1.5rem;
    padding: 0 2rem;
    text-align: center;
    border-radius: 1.6rem;
}

.cfy_control a.ac {
    padding: 0 0;
    border: none;
    color: #999;
}

.cfy_control a.loading {
    color: #999;
}

.cfy_control #finish {
    margin-right: 1rem;
}

.boy .icon_device {
    background: url(../../../../images/icon_device_boy.png) center center no-repeat;
    background-size: 85%;
}
.girl .icon_device {
    background: url(../../../../images/icon_device_girl.png) center center no-repeat;
    background-size: 85%;
}
.router-link-active {
    text-decoration: none;
}

.router-link {
    text-decoration: none;
}